<!DOCTYPE html>
<html>
  <head>
    <title>NewsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%= link_to "Home", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to "Says", posts_path(kind: "says"), class: "nav-link #{'active' if @kind == 'says' }" %>
            </li>

            <li class="nav-item">
              <%= link_to "Free Malaysia Today", posts_path(kind: "free_malaysia_today"), class: "nav-link #{'active' if @kind == 'free_malaysia_today' }" %>
            </li>

            <li class="nav-item">
              <%= link_to "The Rakyat Post", posts_path(kind: "the_rakyat_post"), class: "nav-link #{'active' if @kind == 'the_rakyat_post' }" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
